<!--{% load static  %}-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search Website</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Search Products</h1>
            <p class="lead text-muted">Получите лучшие результаты по вашему запросу!</p>
            <form action='' method="post">
                <div class="d-flex justify-content-center">
                    <div class="input-group mb-3 col-6 mr-5">
                        {% csrf_token %}
                        <input class="form-control m-auto" type="text" name="query" maxlength="100" required=""
                               id="id_query">
                    </div>
                </div>
                <p class="mb-0">
                    <button type="submit" class="btn btn-primary">Поиск товаров</button>
                </p>
            </form>
        </div>
    </section>
    <div class="container">
        <h3 class="text-center mb-0 pb-4">Магазины</h3>
        <h4 class="text-center my-0 py-4">Myphone.kg</h4>
        {% if myphone %}
        <table class="table table-striped table-light">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Параметры</th>
                <th>Ссылка</th>
            </tr>
            {% for product in myphone %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.parametrs}}</td>
                <td><a type="button" href="{{ product.url }}"
                       class="btn btn-sm btn-outline-secondary px-2 my-auto ml-1">Подробнее</a>

            </tr>
            {% endfor %}
        </table>
        {% elif error %}
        {% for error in error %}
        <p class="text-center py-0 my-0">{{ error.myphone }}</p>
        {% endfor %}
        {% endif %}
        <h4 class="text-center my-0 py-4">Kivano.kg</h4>
        {% if kivano %}
        <table class="table table-striped table-light">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Ссылка</th>
            </tr>
            {% for product3 in kivano %}
            <tr>
                <td>{{ product3.name }}</td>
                <td>{{ product3.price }}</td>
                <td><a type="button" href="{{ product3.url }}"
                       class="btn btn-sm btn-outline-secondary px-2 my-auto ml-1">Подробнее</a>

            </tr>
            {% endfor %}
        </table>
        {% elif error %}
        {% for error in error %}
        <p class="text-center py-0 my-0">{{ error.kivano }}</p>
        {% endfor %}
        {% endif %}
        <h4 class="text-center my-0 py-4">Svetofor.kg</h4>
        {% if svetofor %}
        <table class="table table-striped table-light">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Ссылка</th>
            </tr>
            {% for product4 in svetofor %}
            <tr>
                <td>{{ product4.name }}</td>
                <td>{{ product4.price }}</td>
                <td><a type="button" href="{{ product4.url }}"
                       class="btn btn-sm btn-outline-secondary px-2 my-auto ml-1">Подробнее</a>

            </tr>
            {% endfor %}
        </table>
        {% elif error %}
        {% for error in error %}
        <p class="text-center py-0 my-0">{{ error.svetofor }}</p>
        {% endfor %}
        {% endif %}
        <h4 class="text-center my-0 py-4">Softech.kg</h4>
        {% if softech %}
        <table class="table table-striped table-light">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Параметры</th>
                <th>Ссылка</th>
            </tr>
            {% for product2 in softech %}
            <tr>
                <td>{{ product2.name }}</td>
                <td>{{ product2.price }}</td>
                <td>{{ product2.parametrs}}</td>
               <td><a type="button" href="{{ product2.url }}"
               class="btn btn-sm btn-outline-secondary px-2 my-auto ml-1">Подробнее</a>
            </tr>
            {% endfor %}
        </table>
        {% elif error %}
        {% for error in error %}
        <p class="text-center py-0 my-0">{{ error.softech }}</p>
        {% endfor %}
        {% endif %}
    </div>
</main>
</body>
</html>